{% load static %}
<footer class="bg-primary text-center text-lg-start mt-4" style="border-top: 2px solid hsl(211, 100%, 69%);">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase text-light">Contact Us</h5>
                <p class="text-light">Email: info@secustore.com</p>
                <p class="text-light">Phone: 00962796205661</p>
                <p class="text-light">Address: Amman, Jordan</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase text-light">Follow Us</h5>
                <a href="#" class="btn btn-link text-light"><i class="bi bi-facebook"></i></a>
                <a href="#" class="btn btn-link text-light"><i class="bi bi-twitter"></i></a>
                <a href="#" class="btn btn-link text-light"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="btn btn-link text-light"><i class="bi bi-instagram"></i></a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-uppercase text-light">Quick Links</h5>
                <a href="#" class="btn btn-link text-light">About Us</a>
                <a href="#" class="btn btn-link text-light">Privacy Policy</a>
                <a href="#" class="btn btn-link text-light">Terms of Service</a>
                <a href="#" class="btn btn-link text-light">FAQs</a>
            </div>
        </div>
    </div>

    <div class="text-light text-center p-3">
        © 2026 SecuStore
    </div>
</footer>



